body{
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #ffd7d7;
    overflow: hidden;
}

a{
    text-decoration: none;
}
 canvas{
    margin: 0 auto;
    justify-content: center;
    display: flex;
 }


/*show button*/
button{
    text-decoration: none;
}
.show{
    
    background-color: #fff;
    width: 200px;
    justify-content: center;
    display: flex;
    border-radius: 50px;
    margin-top: 120%;
    margin-left: 10%;

}
.fa-solid--wind {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23000' d='M156.7 256H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16h142.2c15.9 0 30.8 10.9 33.4 26.6c3.3 20-12.1 37.4-31.6 37.4c-14.1 0-26.1-9.2-30.4-21.9c-2.1-6.3-8.6-10.1-15.2-10.1H81.6c-9.8 0-17.7 8.8-15.9 18.4c8.6 44.1 47.6 77.6 94.2 77.6c57.1 0 102.7-50.1 95.2-108.6C249 291 205.4 256 156.7 256M16 224h336c59.7 0 106.8-54.8 93.8-116.7c-7.6-36.2-36.9-65.5-73.1-73.1c-55.4-11.6-105.1 24.9-114.9 75.5c-1.9 9.6 6.1 18.3 15.8 18.3h32.8c6.7 0 13.1-3.8 15.2-10.1C325.9 105.2 337.9 96 352 96c19.4 0 34.9 17.4 31.6 37.4c-2.6 15.7-17.4 26.6-33.4 26.6H16c-8.8 0-16 7.2-16 16v32c0 8.8 7.2 16 16 16m384 32H243.7c19.3 16.6 33.2 38.8 39.8 64H400c26.5 0 48 21.5 48 48s-21.5 48-48 48c-17.9 0-33.3-9.9-41.6-24.4c-2.9-5-8.7-7.6-14.5-7.6h-33.8c-10.9 0-19 10.8-15.3 21.1c17.8 50.6 70.5 84.8 129.4 72.3c41.2-8.7 75.1-41.6 84.7-82.7C526 321.5 470.5 256 400 256'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin: 10px;
  }


/* button */
/* From Uiverse.io by cssbuttons-io */ 
.btn {
    text-decoration: none;
    --color: #da82fd;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 50px;
    font-weight: 500;
    color: var(--color);
    margin-top: 150%;
    margin-left: 35%;
    
  }
  
  .btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
  }
  
  .btn:hover {
    color: #fff;
  }
  
  .btn:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
  }
  
  .btn:hover:before {
    top: -30px;
    left: -30px;
  }
  
  .btn:active:before {
    background: #c951f8;
    transition: background 0s;
  }
  

  

/* cake */

.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 45%;
    left: 50%;
    margin-top: 8%;
    margin-left: -125px;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

.plate {
    width: 270px;
    height: 110px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: #e7b7b7;
    border-radius: 50%;
    box-shadow:
        0 2px 0 darken(#ccc, 10%),
        0 4px 0 darken(#ccc, 10%),
        0 5px 40px rgba(0, 0, 0, 0.5);
}

.cake > * {
    position: absolute;
}

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;
    background-color: #553c13;
}

.layer-top { top: 0px; }
.layer-middle { top: 33px; }
.layer-bottom { top: 66px; }

.icing {
    top: 2px;
    left: 5px;
    background-color: #f0e4d0;
    width: 240px;
    height: 90px;
    border-radius: 50%;
}

.icing:before {
    content: "";
    position: absolute;
    top: 4px;
    right: 5px;
    bottom: 6px;
    left: 5px;
    background-color: lighten(#f0e4d0, 3%);
    box-shadow:
        0 0 4px lighten(#f0e4d0, 5%),
        0 0 4px lighten(#f0e4d0, 5%),
        0 0 4px lighten(#f0e4d0, 5%);
    border-radius: 50%;
    z-index: 1;
}

.drip {
    display: block;
    width: 50px;
    height: 60px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #f0e4d0;
}

.drip1 {
    top: 53px;
    left: 5px;
    transform: skewY(15deg);
    height: 48px;
    width: 40px;
}

.drip2 {
    top: 69px;
    left: 181px;
    transform: skewY(-15deg);
}

.drip3 {
    top: 54px;
    left: 90px;
    width: 80px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.candle {
    background-color: #7B020B;
    width: 16px;
    height: 50px;
    border-radius: 8px / 4px;
    top: -20px;
    left: 50%;
    margin-left: -8px;
    z-index: 10;
}

.candle:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 8px;
    border-radius: 50%;
    background-color: lighten(#7B020B, 10%);
}

.flame {
    position: absolute;
    background-color: orange;
    width: 15px;
    height: 35px;
    border-radius: 10px 10px 10px 10px / 25px 25px 10px 10px;
    top: -34px;
    left: 50%;
    margin-left: -7.5px;
    z-index: 10;
    box-shadow:
        0 0 10px rgba(255, 165, 0, 0.5),
        0 0 20px rgba(255, 165, 0, 0.5),
        0 0 60px rgba(255, 165, 0, 0.5),
        0 0 80px rgba(255, 165, 0, 0.5);
    transform-origin: 50% 90%;
    animation: flicker 1s ease-in-out alternate infinite;
}

@keyframes flicker {
    0% {
        transform: skewX(5deg);
        box-shadow: 
            0 0 10px rgba(255, 165, 0, 0.2),
            0 0 20px rgba(255, 165, 0, 0.2),
            0 0 60px rgba(255, 165, 0, 0.2),
            0 0 80px rgba(255, 165, 0, 0.2);
    }
    25% {
        transform: skewX(-5deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.5),
            0 0 20px rgba(255, 165, 0, 0.5),
            0 0 60px rgba(255, 165, 0, 0.5),
            0 0 80px rgba(255, 165, 0, 0.5);
    }
    50% {
        transform: skewX(10deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.3),
            0 0 20px rgba(255, 165, 0, 0.3),
            0 0 60px rgba(255, 165, 0, 0.3),
            0 0 80px rgba(255, 165, 0, 0.3);
    }
    75% {
        transform: skewX(-10deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.4),
            0 0 20px rgba(255, 165, 0, 0.4),
            0 0 60px rgba(255, 165, 0, 0.4),
            0 0 80px rgba(255, 165, 0, 0.4);
    }
    100% {
        transform: skewX(5deg);
        box-shadow:
            0 0 10px rgba(255, 165, 0, 0.5),
            0 0 20px rgba(255, 165, 0, 0.5),
            0 0 60px rgba(255, 165, 0, 0.5),
            0 0 80px rgba(255, 165, 0, 0.5);
    }
}

/* card */

.book {
    position: relative;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    background-image: linear-gradient(to bottom right, rgba(115, 115, 115, 0.2), rgba(115, 115, 115, 0.2)), url("insidecard.png");
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 1px 1px 20px #a47575;
    box-shadow: 1px 1px 20px #a47575;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
    margin-bottom: 160%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-image: linear-gradient(to bottom right, rgba(255, 121, 121, 0.3), rgba(140, 120, 252, 0.3)), url("bdaycard.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 20px #a47575;
    box-shadow: 1px 1px 20px #a47575;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-50deg);
    -ms-transform: rotatey(-50deg);
    transform: rotatey(-50deg);
  }
  
  p {
    font-size: 20px;
    font-weight: bolder;
  }

  @media screen and (max-width : 900px) {
    .showbtn{
        margin-top: 150%;
    }
    body{
        overflow: hidden;
    }
    
    
  }
